html,
body {
    height: 100%;
}

body {
    background-image: url(/src/icons/Rectangle\ 10.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.nav1 {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 16px;
    display: flex;
    justify-content: center;
    font-family: 'Mukta Vaani', sans-serif;
}

.nav1 a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: 400; 
    font-size: 18px;
    padding-right: 5px;
    color: #09244B;
}

#email {
    width: 30;
    height: 30px;
}
#email:hover {
    filter: invert(0.5);
}

#gh-link {
    width: 30px;
    height: 30px;
}

#gh-link:hover {
    filter: invert(0.5);
}

#linkedin {
    width: 30px;
    height: 30px;
}

#linkedin:hover {
    filter: invert(0.5);
}
#tg-link {
    width: 30px;
    height: 30px;
}
#tg-link:hover {
    filter: invert(0.5);
}

#youtube {
    width: 30px;
    height: 30px;
}
#youtube:hover {
    filter: invert(0.5);
}
